<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="new">
  <div>
    First Name: <input type="text" ng-model="firstName">
    <br />
    <p>FirstName: {{firstName}}</p>
    <p>FirstName: {{firstName}}</p>

  <!-- In production use: -->
  </div>

  <p>Try writing in the input field:</p>

  <form name="myForm">
    <input name="myInput" ng-model="myInput" required />
  </form>

  <p>The input's valid state is:</p>
  <h1>{{myForm.myInput.$valid}}</h1>
</div>

<div ng-app="newApp" ng-controller="myCtrl">

  <button ng-click="count = count + 1">PLUS</button>
  <button ng-click="count = count - 1">MINUS</button>
  <button ng-click="count = count * 2">MULTIPLY BY 2</button>
  <button ng-click="count = count * 0">RESET</button>
  <p>{{ count }}</p>

</div>
<script>
    var app = angular.module('newApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.count = 0;
    });
</script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
